absl-py==0.9.0
astor==0.8.1
beautifulsoup4==4.8.2
certifi==2022.12.7
chardet==3.0.4
gast==0.2.2
google-pasta==0.2.0
gpt-2-simple==0.7.1
grpcio==1.27.2
h5py==2.10.0
idna==2.9
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.2.1
numpy==1.18.2
opt-einsum==3.2.0
pandas==1.0.3
protobuf==3.11.3
python-dateutil==2.8.1
pytz==2019.3
regex==2020.2.20
requests==2.23.0
requests-file==1.4.3
six==1.14.0
soupsieve==2.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.2
termcolor==1.1.0
tldextract==2.2.2
toposort==1.5
tqdm==4.43.0
urllib3==1.25.8
Werkzeug==1.0.0
wrapt==1.12.1
